/*
.r{
    background-color: red;
    margin: 20px;
    padding: 20px;
}

.g{
    background-color: green;
    margin: 20px;
    padding: 20px;
}

.b{
    background-color: blue;
    margin: 20px;
    padding: 20px;
}

