*{
    color: var(--fontColor);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

:root{
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

body{
    background: var(--bg);
}

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btn{
    position: absolute;
    top: 20px;
    left: 200px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus{
    outline-style: none;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}

ul li{
    font-family: Georgia, 'Times New Roman', Times, serif;
}



